################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DreamcastImageBuilder.*
/*.pdb
/oldmods
/prs
/settings.ini
/games/ignore
