################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DreamcastImageBuilder.*
/oldmods
/prs
/settings.ini
